<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:krishna.rohith@gmail.com">email</a></li>
   <li><a href="https://github.com/r-krishna">github.com/r-krishna</a></li>
   <li><a href="https://twitter.com/r_krishna3">Twitter</a></li>

   </ul>
  </footer>
  </body>

</html>
